* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-border {
  border: none;
  outline: none;
}
.window {
  position: absolute;
  width: 800px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  padding: 20px;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.window .btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 7px;
  right: 7px;
  background: url(../imgs/btn/close_hover.png) no-repeat;
  background-size: 100% 100%;
}
.window .title {
  margin: 0 0 10px 0;
  text-align: center;
}
.window input[type="text"] {
  border: none;
  outline: none;
  background: white;
}
html,
body {
  background: #fff;
}
#topicContain {
  background: #fff;
  padding: 16px 26px;
}
#topicContain h3,
#topicContain h4 {
  margin: 0;
  padding: 0;
}
#topicContain ul {
  list-style: none;
}
#topicContain ul li {
  margin: 10px 0;
  display: flex;
  padding-bottom: 18px;
  border-bottom: solid 1px #e6e6e6;
}
#topicContain ul li .left {
  margin-right: 16px;
}
#topicContain ul li .left img {
  height: 50px;
  border-radius: 50%;
}
#topicContain ul li .right .topic-time {
  height: 22px;
  line-height: 22px;
  font-size: 15px;
}
#topicContain ul li .right .topic-title {
  height: 28px;
  line-height: 28px;
  font-size: 22px;
  cursor: pointer;
}
#topicContain ul li .right .topic-content {
  margin-top: 12px;
}
