* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-border {
  border: none;
  outline: none;
}
.window {
  position: absolute;
  width: 800px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  padding: 20px;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.window .btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 7px;
  right: 7px;
  background: url(../imgs/btn/close_hover.png) no-repeat;
  background-size: 100% 100%;
}
.window .title {
  margin: 0 0 10px 0;
  text-align: center;
}
.window input[type="text"] {
  border: none;
  outline: none;
  background: white;
}
html,
body {
  background: #fff;
}
#paperContain {
  background: #fff;
  border: none;
  padding: 16px 26px;
}
#paperContain .make-paper button {
  width: 100px;
  height: 35px;
}
#paperContain .papers-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#paperContain .papers-list .paper-item {
  margin: 12px 10px;
  width: 31%;
  height: 180px;
  background: #fff;
  border: solid 1px #d6d6d6;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#paperContain .papers-list .paper-item .title {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#paperContain .papers-list .paper-item .desc {
  flex: 1;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
}
#paperContain .papers-list .paper-item .desc .status span {
  font-weight: bold;
}
#paperContain .papers-list .paper-item .option {
  height: 25%;
  background: #e8eeda;
}
#paperContain .papers-list .paper-item .option button {
  width: 20%;
  height: 70%;
  float: right;
  margin-top: 2.2%;
  margin-right: 15px;
  background: #7b9e31;
  color: #fff;
  border: none;
  outline: none;
}
.random-paper {
  position: fixed;
  width: 500px;
  height: 500px;
  background: #fff;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.random-paper-preview {
  position: fixed;
  width: 500px;
  height: 500px;
  background: #fff;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
