* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-border {
  border: none;
  outline: none;
}
header {
  width: 100%;
  height: 60px;
  background: #444348;
  display: flex;
}
header .logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: calc((60px - 40px) / 2);
  line-height: 60px;
}
header h3 {
  color: #fff;
  line-height: 60px;
  margin: 0 0 0 10px;
}
.side {
  position: absolute;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100% - 60px);
  background: #3b3a40;
}
.side .active {
  border-left: 4px solid #49af4f;
  background: #444348;
}
.side ul {
  list-style: none;
}
.side ul li {
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
}
.side ul li div {
  display: flex;
  margin: 0 auto;
}
.side ul li img {
  width: 24px;
  height: 24px;
  margin: 13px 5px 10px 0;
  line-height: 50px;
}
.side ul li span {
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
.main-frame {
  float: right;
  width: calc(100% - 250px);
  height: calc(100% - 60px);
  border: none;
  outline: none;
}
