* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 60px;
  background: #444348;
  display: flex;
}
header .logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: calc((60px - 40px) / 2);
  line-height: 60px;
}
header h3 {
  color: #fff;
  line-height: 60px;
  margin: 0 0 0 10px;
}
.body {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
}
.side {
  width: 250px;
  height: 100%;
  background: #3b3a40;
}
.side .active {
  border-left: 4px solid #49af4f;
  background: #444348;
}
.side ul {
  list-style: none;
}
.side ul li {
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
}
.side ul li div {
  display: flex;
  margin: 0 auto;
}
.side ul li img {
  width: 24px;
  height: 24px;
  margin: 13px 5px 10px 0;
  line-height: 50px;
}
.side ul li span {
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
main {
  width: 100%;
  height: 100%;
  background: #f1f1f2;
}
main #userPanel {
  width: 100%;
  height: 100%;
}
main #userPanel .choose-user-type {
  width: fit-content;
  height: 55px;
  margin: 0 auto;
}
main #userPanel .choose-user-type span {
  line-height: 55px;
  padding: 10px;
  background: #444348;
  border-radius: 10px;
  font-size: 24px;
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
}
main #userPanel .table-div {
  padding: 28px 60px 0 60px;
}
main #userPanel .table-div table {
  margin-bottom: 0;
  table-layout: fixed;
}
main #userPanel .table-div table tr {
  height: 38px;
}
main #userPanel .table-div table tr:hover {
  background: #e0f5f1;
  outline: solid 1px #a9d4c7;
}
main #userPanel .table-div table tr .options {
  position: relative;
}
main #userPanel .table-div table tr .options span {
  position: absolute;
  cursor: pointer;
}
main #userPanel .table-div table tr .options .reset-user {
  left: 15px;
  color: #5d6691;
}
main #userPanel .table-div table tr .options .delete-user {
  right: 15px;
  color: red;
}
main #userPanel .table-div table tr .options .add-user {
  left: 15px;
  color: #587c0c;
}
main #userPanel .table-div table tr .options .add-user-excel {
  right: 15px;
  color: #587c0c;
}
main #userPanel .table-div table tr td {
  line-height: 30px;
}
main #userPanel .table-div table tr td input[type=checkbox] {
  margin-right: 3px;
}
main #userPanel .table-div table .add-user-tr td input {
  width: 80%;
  outline: none;
  border: none;
  padding-left: 5px;
}
main #userPanel .table-div .user-options {
  display: flex;
  position: relative;
}
main #userPanel .table-div .user-options .opts li a {
  cursor: pointer;
}
main #userPanel .table-div .user-options .opts .reset-all a {
  color: #5d6691;
}
main #userPanel .table-div .user-options .opts .delete-all a {
  color: red;
}
main #userPanel .table-div .user-options .pages {
  position: absolute;
  right: 46px;
  margin-bottom: 0;
  z-index: 1;
}
main #userPanel .table-div .user-options .jump {
  position: absolute;
  width: 50px;
  height: 46px;
  top: 20px;
  right: 0;
  outline: none;
  border: solid 1px #dddddd;
  padding-left: 5px;
  font-size: 18px;
  z-index: 2;
}
main #coursePanel {
  width: 100%;
  height: 100%;
  background: sandybrown;
}
