* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-border {
  border: none;
  outline: none;
}
.window {
  position: absolute;
  width: 800px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  padding: 20px;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.window .btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 7px;
  right: 7px;
  background: url(../imgs/btn/close_hover.png) no-repeat;
  background-size: 100% 100%;
}
.window .title {
  margin: 0 0 10px 0;
  text-align: center;
}
.window input[type="text"] {
  border: none;
  outline: none;
  background: white;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  width: 100%;
  height: 60px;
  background: #444348;
  display: flex;
}
header .logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: calc((60px - 40px) / 2);
  line-height: 60px;
}
header h3 {
  color: #fff;
  line-height: 60px;
  margin: 0 0 0 10px;
}
.side {
  position: absolute;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100% - 60px);
  background: #3b3a40;
}
.side .active {
  border-left: 4px solid #49af4f;
  background: #444348;
}
.side ul {
  list-style: none;
}
.side ul li {
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
}
.side ul li div {
  display: flex;
  margin: 0 auto;
}
.side ul li img {
  width: 24px;
  height: 24px;
  margin: 13px 5px 10px 0;
  line-height: 50px;
}
.side ul li span {
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
.frame-admin {
  float: right;
  width: calc(100% - 250px);
  height: calc(100% - 60px);
  border: none;
  outline: none;
}
.table-div {
  padding: 10px 60px 0 60px;
}
.table-div table {
  margin-bottom: 0;
  table-layout: fixed;
}
.table-div table tr {
  height: 38px;
}
.table-div table tr:hover {
  background: #e0f5f1;
  outline: solid 1px #a9d4c7;
}
.table-div table tr .options {
  position: relative;
}
.table-div table tr .options span {
  position: absolute;
  cursor: pointer;
}
.table-div table tr .options .reset-user {
  left: 15px;
  color: #5d6691;
}
.table-div table tr .options .delete-user {
  right: 15px;
  color: red;
}
.table-div table tr .options .add-user {
  left: 15px;
  color: #587c0c;
}
.table-div table tr .options .add-user-excel {
  right: 15px;
  color: #587c0c;
}
.table-div table tr .options .save-course {
  left: 15px;
  color: #51A351;
}
.table-div table tr .options .delete-course {
  right: 15px;
  color: red;
}
.table-div table tr td {
  line-height: 30px;
}
.table-div table tr td input[type=checkbox] {
  margin-right: 3px;
}
.table-div table .add-user-tr td input {
  width: 80%;
  outline: none;
  border: none;
  padding-left: 5px;
}
.table-div table .course-name {
  outline: none;
  border: none;
  padding-left: 5px;
}
main {
  width: 100%;
  height: 100%;
}
main .title {
  margin-left: 60px;
}
main .top-options {
  padding-left: 60px;
}
main .top-options input {
  width: 280px;
  height: 38px;
  font-size: 16px;
  padding-left: 5px;
  border: none;
  outline: none;
  font-weight: normal;
}
main .top-options button {
  width: 80px;
  height: 38px;
  border: none;
  outline: none;
  margin-left: 10px;
  background: #efefef;
}
main .top-options button:hover {
  background: #e5e5e5;
}
main .top-options button:active {
  background: gray;
}
.add-new-course {
  display: none;
  position: absolute;
  width: 800px;
  height: 500px;
  background: #f4f4f4;
}
.add-new-course select {
  width: 120px;
  height: 35px;
  margin: 5px;
  border: none;
  outline: none;
  background: #fff;
}
.add-new-course select option {
  width: 120px;
  height: 35px;
}
