@import "style.less";
@import "admin.less";


// 主区域
main {
  width: 100%;
  height: 100%;
  //background: sandybrown;

  .search-course {
    padding: 28px 28px 0 60px;
    margin-bottom: 20px;

    input {
      width: 280px;
      height: 38px;
      font-size: 16px;
      padding-left: 5px;
    }

    button {
      width: 80px;
      height: 38px;
    }
  }
}


// 添加课程面板
.add-new-course {
  display: none;
  position: absolute;
  width: 800px;
  height: 500px;
  background: #f4f4f4;

  select {
    width: 120px;
    height: 35px;
    margin: 5px;
    .no-border();
    background: #fff;
  }

  select option {
    width: 120px;
    height: 35px;
  }

}