* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-border {
  border: none;
  outline: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.choose-user-type {
  width: fit-content;
  height: 55px;
  margin: 0 auto;
}
.choose-user-type span {
  line-height: 55px;
  padding: 10px;
  background: #868889;
  border-radius: 10px;
  font-size: 24px;
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
}
.choose-user-type .active {
  background: #444348;
}
main {
  width: 100%;
  height: calc(100% - 55px);
}
main .frame-admin-user {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.user-options {
  display: flex;
  position: relative;
  align-items: center;
}
.user-options .opts li a {
  cursor: pointer;
}
.user-options .opts .reset-all a {
  color: #5d6691;
}
.user-options .opts .delete-all a {
  color: red;
}
.user-options .batch-import {
  height: 32px;
  line-height: 32px;
  margin-left: 5px;
  padding: 0 12px;
  background: #fff;
  color: #2F96B4;
  outline: none;
  border: solid 1px #dddddd;
  border-radius: 16px;
}
.user-options .batch-import:hover {
  background: #eeeeee;
}
.user-options .pages {
  position: absolute;
  right: 46px;
  margin-bottom: 0;
  z-index: 1;
}
.user-options .jump {
  position: absolute;
  width: 50px;
  height: 46px;
  top: 20px;
  right: 0;
  outline: none;
  border: solid 1px #dddddd;
  padding-left: 5px;
  font-size: 18px;
  z-index: 2;
}
