@import "./style.less";

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    width : 100%;
    height: 100%;
}

@headerHeight: 60px;

header {
    width     : 100%;
    height    : @headerHeight;
    background: #fff;
    background: #444348;
    display   : flex;

    .logo {
        width      : 40px;
        height     : 40px;
        margin-left: 10px;
        margin-top : calc((@headerHeight - 40px) / 2);
        line-height: @headerHeight;
    }

    h3 {
        margin     : 0;
        color      : #fff;
        line-height: @headerHeight;
        margin-left: 10px;
    }
}

.body {
    display: flex;
    width  : 100%;
    height : calc(100% - @headerHeight);
}

.side {
    width        : 250px;
    height       : 100%;
    // height    : 900px;
    background   : #3b3a40;


    .active {
        border-left: 4px solid @colorPrimary;
        background : #444348;
    }

    ul {
        list-style: none;

        li {
            width  : 100%;
            height : 50px;
            display: flex;
            cursor : pointer;

            div {
                display: flex;
                margin : 0 auto;
            }

            img {
                width : 24px;
                height: 24px;

                margin     : 13px 5px 10px 0;
                line-height: 50px;
            }

            span {
                line-height: 50px;
                font-size  : 20px;
                color      : #fff;
            }
        }
    }
}

main {}