@import "./style.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@headerHeight: 60px;

header {
  width: 100%;
  height: @headerHeight;
  background: #444348;
  display: flex;

  .logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: calc((@headerHeight - 40px) / 2);
    line-height: @headerHeight;
  }

  h3 {
    color: #fff;
    line-height: @headerHeight;
    margin: 0 0 0 10px;
  }
}

.body {
  display: flex;
  width: 100%;
  height: calc(100% - @headerHeight);
}

// 左侧菜单
.side {
  width: 250px;
  height: 100%;
  // height    : 900px;
  background: #3b3a40;


  .active {
    border-left: 4px solid @colorPrimary;
    background: #444348;
  }

  ul {
    list-style: none;

    li {
      width: 100%;
      height: 50px;
      display: flex;
      cursor: pointer;

      div {
        display: flex;
        margin: 0 auto;
      }

      img {
        width: 24px;
        height: 24px;

        margin: 13px 5px 10px 0;
        line-height: 50px;
      }

      span {
        line-height: 50px;
        font-size: 20px;
        color: #fff;
      }
    }
  }
}

// 中间区域
main {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f1f1f2;

  // 用户管理
  #userPanel {
    width: 100%;
    height: 100%;
    // background: pink;

    .choose-user-type {
      width: fit-content;
      height: 55px;

      // background: hotpink;
      margin: 0 auto;

      span {
        line-height: 55px;
        padding: 10px;
        background: #444348;
        border-radius: 10px;
        font-size: 24px;
        margin: 0 5px;
        color: #fff;
        cursor: pointer;
      }
    }

    // 用户操作
    .user-options {
      display: flex;
      position: relative;
      // text-align: right;

      // 功能按钮
      .opts {

        li {
          a {
            cursor: pointer;
          }
        }

        .reset-all {
          a {
            color: #5d6691;
          }
        }

        .delete-all {
          a {
            color: red;
          }
        }
      }

      // 翻页按钮
      .pages {
        position: absolute;
        right: 46px;
        margin-bottom: 0;
        z-index: 1;
      }

      .jump {
        position: absolute;
        width: 50px;
        height: 46px;
        top: 20px;
        right: 0;
        outline: none;
        border: solid 1px #dddddd;
        padding-left: 5px;
        font-size: 18px;
        z-index: 2;
      }
    }
  }

  // 课程管理
  #coursePanel {
    width: 100%;
    height: 100%;
    //background: sandybrown;

    .search-course {
      padding: 28px 28px 0 60px;
      margin-bottom: 20px;

      input {
        width: 280px;
        height: 38px;
        font-size: 16px;
        padding-left: 5px;
      }

      button {
        width: 80px;
        height: 38px;
      }
    }
  }

  // 添加课程面板
  .add-new-course {
    display: none;
    position: absolute;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;

    margin-top: -250px;
    transform: translateX(-50%);

    background: #fff;
    z-index: 2;


    .close {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  // 放表格的div
  .table-div {
    padding: 10px 60px 0 60px;
    // color  : indianred;

    table {
      margin-bottom: 0;
      table-layout: fixed;
      //color: green;

      tr {
        height: 38px;
        // cursor: pointer;

        &:hover {
          background: #e0f5f1;
          // border    : 1px solid #a9d4c7;
          outline: solid 1px #a9d4c7;
        }

        .options {
          position: relative;

          span {
            position: absolute;
            cursor: pointer;
          }

          .reset-user {
            left: 15px;
            color: #5d6691;
          }

          .delete-user {
            right: 15px;
            color: red;
          }

          .add-user {
            left: 15px;
            color: #587c0c;
          }

          .add-user-excel {
            right: 15px;
            color: #587c0c;
          }

          .save-course {
            left: 15px;
            color: #51A351;
          }

          .delete-course {
            right: 15px;
            color: red;
          }

        }

        td {
          line-height: 30px;

          input[type=checkbox] {
            margin-right: 3px;
          }
        }
      }

      .add-user-tr {
        td {
          input {
            width: 80%;
            outline: none;
            border: none;
            padding-left: 5px;
          }
        }
      }

      .course-name {
        //width: 80%;
        outline: none;
        border: none;
        padding-left: 5px;
      }
    }
  }
}


