@import "./style.less";

body {
  position: relative;
  width: 100%;
  height: 100%;
}

h3 {
  margin: 0;
}

//顶部
header {
  position: relative;
  width: 100%;
  height: 55px;
  background: #2e333f;
  padding-left: 18%;

  display: flex;

  img {
    width: 40px;
    height: 40px;
    margin-top: 7px;
  }

  h2 {
    line-height: 55px;
    color: #fff;
    font-size: 26px;
    margin: 0 0 0 10px;
  }

  .account {
    position: absolute;
    // width        : 30px;
    height: 30px;
    right: 120px;
    // background: pink;
    top: 12px;
    display: flex;

    margin: 0;
    padding: 0;

    span {
      margin-right: 8px;
      color: #fff;
      line-height: 30px;
      cursor: pointer;

      &:hover {
        color: #49af4f;
      }
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0;
    }
  }
}

p {
  margin: 0;
}

main {
  position: relative;
  width: 60%;
  height: 500px;
  margin: 0 auto 40px;
  padding: 18px;

  //章节名
  .chapterName {
    margin: 0 0 10px 0;
    color: #000;
    font-size: 34px;
  }

  // 上面的按钮
  .btn-import-question {
    width: 100px;
    height: 35px;
  }

  // 题目（通用的样式在这里）
  .question-type {
    // 题目标题
    h3 {
      width: 100%;
      margin: 0;
      padding: 15px 0;
      border-bottom: solid 1px #d8d8d8;
    }

    // 题干
    .question-main {
      margin: 0 0 6px 0;
      font-size: 17px;
    }

    // 答案
    .question-answer {
      margin: 12px 0 0 0;
      font-size: 16px;
      color: gray;
    }


  }

  // 选择
  .question-xz {
    .xz-list {
      // 单个选择题
      .xz-item {
        padding: 10px 0 6px 0;
        border-bottom: solid 1px #d8d8d8;

        // 选项
        .question-opts {
          p {
            margin: 6px 0 0 5px;
          }
        }
      }
    }
  }

  // 填空
  .question-tk {
    .tk-list {
      // 单个选择题
      .tk-item {
        padding: 10px 0 6px 0;
        border-bottom: solid 1px #d8d8d8;
      }
    }
  }

  // 判断
  .question-pd {
    .pd-list {
      // 单个选择题
      .pd-item {
        padding: 10px 0 6px 0;
        border-bottom: solid 1px #d8d8d8;
      }
    }
  }
}

// 单独添加题目窗口
.add-question-div {
  position: absolute;
  width: 950px;
  height: 500px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, .15);
  background: rgba(255, 255, 255, .95);
  z-index: 10;
  display: none;
  //background: pink;

  // 关闭按钮
  .btn-close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 7px;
    right: 7px;
    background: url(../imgs/btn/close_hover.png) no-repeat;
    background-size: 100% 100%;
  }

  // 主要部分
  .main {
    width: 100%;
    height: 100%;
    display: flex;

    h3 {
      margin: 10px 0;
    }

    // 左侧选择题目类型
    .left {
      flex: 1;
      height: 100%;
      background: @colorPrimary;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      .cnt-select();
      display: flex;
      align-items: center;


      .types {
        width: 100%;

        h3 {
          text-align: center;
          margin: 0;
          padding: 16px 0;
          cursor: pointer;

          &:hover {
            background: #2F96B4;
          }
        }

        .active {
          background: #2F96B4;
        }
      }

    }

    // 右侧添加题目
    .right {
      flex: 5;
      height: 100%;
      background: #f4f4f4;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      .add-tm {
        width: 100%;
        height: 90%;
        display: none;
        padding-top: 30px;
        padding-left: 15px;
      }

      // 添加选择题的窗口
      .add-xz {
        display: block;

        .question-xz {
          width: 640px;
          height: 150px;
          padding: 5px;
          font-size: 16px;
          font-weight: normal;
          border: none;
          outline: none;
        }

        // 选项ul
        .opt-ul {
          list-style: none;

          li {
            height: 25px;
            font-size: 16px;
            margin: 7px 0;
            //background: #5d6691;

            input {
              width: 560px;
              height: 25px;
              border: none;
              outline: none;
              padding-left: 5px;
              font-weight: normal;
            }
          }
        }

        // 答案
        select {
          width: 50px;
          height: 25px;
          border: none;
          outline: none;
          font-size: 16px;

          option {
          }
        }
      }

      .add-tk {

      }

      .add-pd {

      }

      // 添加按钮
      .btn-add-tm {
        width: 120px;
        height: 10%;
        float: right;
        border: none;
        outline: none;
        border-bottom-right-radius: 10px;

        &:hover {
          background: @colorPrimary;

        }

      }

    }
  }
}