* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
}
header {
  position: relative;
  width: 100%;
  height: 55px;
  background: #2e333f;
  padding-left: 18%;
  display: flex;
}
header img {
  width: 40px;
  height: 40px;
  margin-top: 7px;
}
header h2 {
  line-height: 55px;
  color: #fff;
  font-size: 26px;
  margin: 0 0 0 10px;
}
header .account {
  position: absolute;
  height: 30px;
  right: 120px;
  top: 12px;
  display: flex;
  margin: 0;
  padding: 0;
}
header .account span {
  margin-right: 8px;
  color: #fff;
  line-height: 30px;
  cursor: pointer;
}
header .account span:hover {
  color: #49af4f;
}
header .account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
}
p {
  margin: 0;
}
main {
  position: relative;
  width: 60%;
  height: 500px;
  margin: 0 auto 40px;
  padding: 18px;
}
main .chapterName {
  margin: 0 0 10px 0;
  color: #000;
  font-size: 34px;
}
main .btn-import-question {
  width: 100px;
  height: 35px;
}
main .question-type h3 {
  width: 100%;
  margin: 0;
  padding: 15px 0;
  border-bottom: solid 1px #d8d8d8;
}
main .question-type .question-main {
  margin: 0 0 6px 0;
  font-size: 17px;
}
main .question-type .question-answer {
  margin: 12px 0 0 0;
  font-size: 16px;
  color: gray;
}
main .question-xz .xz-list .xz-item {
  padding: 10px 0 6px 0;
  border-bottom: solid 1px #d8d8d8;
}
main .question-xz .xz-list .xz-item .question-opts p {
  margin: 6px 0 0 5px;
}
main .question-tk .tk-list .tk-item {
  padding: 10px 0 6px 0;
  border-bottom: solid 1px #d8d8d8;
}
main .question-pd .pd-list .pd-item {
  padding: 10px 0 6px 0;
  border-bottom: solid 1px #d8d8d8;
}
.add-question-div {
  position: absolute;
  width: 1000px;
  height: 500px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  display: none;
}
.add-question-div .close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 5px;
  right: 5px;
  background: url(../imgs/btn/close.png);
}
