* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  position: relative;
  width: 100%;
  height: 55px;
  background: #2e333f;
  padding-left: 18%;
  display: flex;
}
header img {
  width: 40px;
  height: 40px;
  margin-top: 7px;
}
header h2 {
  line-height: 55px;
  color: #fff;
  font-size: 26px;
  margin: 0 0 0 10px;
}
header .account {
  position: absolute;
  height: 30px;
  right: 120px;
  top: 12px;
  display: flex;
  margin: 0;
  padding: 0;
}
header .account span {
  margin-right: 8px;
  color: #fff;
  line-height: 30px;
  cursor: pointer;
}
header .account span:hover {
  color: #49af4f;
}
header .account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
}
.headerwrap {
  width: 100%;
  height: 55px;
  background: #fff;
  padding-left: 18%;
  border-bottom: solid 1px #e4e4e5;
  display: flex;
}
.headerwrap .course-name {
  padding: 0;
  height: 55px;
  line-height: 55px;
  font-size: 25px;
  color: #49af4f;
  margin: 0 30% 0 0;
}
.headerwrap ul {
  list-style-type: none;
  float: left;
}
.headerwrap ul li {
  float: left;
  font-size: 18px;
  margin: 14px 8px 0;
  padding: 2px 5px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.headerwrap ul .active {
  background: gray;
}
.headerwrap ul .active span {
  color: #fff;
}
.headerwrap ul .inactive {
  background: #fff;
}
.headerwrap ul .inactive span {
  color: #000;
}
main {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
  background: #fff;
  border: solid 1px #dddddd;
  border-radius: 10px;
}
main .title {
  margin-left: 12px;
  margin-bottom: 20px;
  font-size: 25px;
}
main .ul-zj {
  margin: 10px 0 0 30px;
  list-style: none;
}
main .ul-zj li {
  margin: 18px 0;
  font-size: 16px;
  cursor: pointer;
}
main .ul-sj {
  list-style: none;
}
main .ul-sj li {
  width: 96%;
  height: 120px;
  margin: 20px auto;
  background: #f7f7f7;
  border-radius: 10px;
  position: relative;
  padding-left: 10px;
}
main .ul-sj li .update-paper {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 35px;
  cursor: pointer;
}
main .ul-sj li .delete-paper {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
main .ul-ht {
  list-style: none;
}
main .ul-ht li {
  width: 94%;
  margin: 20px auto;
  background: #f7f7f7;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
main .ul-ht li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 12px 2px 12px 12px;
}
main .ul-ht li .right {
  width: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
main .ul-ht li .right .who-start {
  margin-top: 18px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #49af4f;
  font-size: 16px;
}
main .ul-ht li .right .title {
  margin: 10px 0 0 10px;
  font-size: 18px;
}
main .ul-ht li .right .content {
  margin: 8px 0 0 10px;
  font-size: 17px;
}
main .ul-ht li .right .comments {
  width: calc(100% - 20px);
  margin: 10px 10px 15px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
main .ul-ht li .right .comments .comment {
  text-align: left;
}
main .ul-ht li .right .comments .comment .who-commit {
  color: #49af4f;
}
main .ul-ht li .right .comments .comment .comment-content {
  margin-top: 5px;
}
main .ul-ht li .right .comments button {
  text-align: center;
  margin: 10px auto;
}
main .random-paper {
  position: fixed;
  width: 500px;
  height: 500px;
  background: #fff;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
